{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}

<div id="flex-left">
	{% if query %}
	<a href="{{ url_for('orders.create_order', buyer_article_number=buyer_article_number, next=request.full_path ) }}">Create new</a>
	{% else %}
	<a href="{{ url_for('orders.create_order') }}">Create new</a>
	{% endif %}
	<form method="post" action="{{ url_for('orders.delete_all_orders') }}" onsubmit="return confirm('Delete ALL orders? This cannot be undone.');">
		<button type="submit" disabled>Delete all orders</button>
	</form>
</div>
<br>
<table>
    <thead>
		<tr class="filter-row">
			<th>Purchase Order Number
				<br>
				{% if filters %}
				{% if filters.get('order_number') %}
				<input name="order_number" class="filter normal" value="{{ filters.get('order_number') }}"></input>
				{% else %}          
				<input name="order_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %} 
				<input name="order_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>Buyer Article Number
				<br>
				{% if filters %}
				{% if filters.get('buyer_article_number') %}
				<input name="buyer_article_number" class="filter normal" value="{{ filters.get('buyer_article_number') }}"></input>
				{% else %}          
				<input name="buyer_article_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %} 
				<input name="buyer_article_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>SAP Article Description
				<br>
				{% if filters %}
				{% if filters.get('article_description') %}
				<input name="article_description" class="filter normal" value="{{ filters.get('article_description') }}"></input>
				{% else %}          
				<input name="article_description" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %} 
				<input name="article_description" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>FOB china
				<br>
				{% if filters %}
				{% if filters.get('fob') %}
				<input type="date" name="fob" class="filter wide" value="{{ filters.get('fob') }}" required></input>
				{% else %}
				<input type="date" name="fob" class="filter wide" value="" required></input>
				{% endif %}
				{% else %}
				<input type="date" name="fob" class="filter wide" value="" required></input>
				{% endif %}
			</th>
			<th>Transport
				<br>
				{% if filters %}
				{% if filters.get('transport') %}
				<input name="transport" placeholder=" " class="filter narrow" value="{{ filters.get('transport') }}"></input>
				{% else %}
				<input name="transport" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %}
				<input name="transport" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>Quantity
				<br>
				{% if filters %}
				{% if filters.get('quantity') %}
				<input name="quantity" placeholder=" " class="filter narrow" value="{{ filters.get('quantity') }}"></input>
				{% else %}
				<input name="quantity" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %}
				<input name="quantity" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>Available Quantity
				<br>
				<input name="available_quantity" placeholder=" " class="filter narrow" value=""></input>
			</th>
			<th>ECV
				<br>
				{% if filters %}
				{% if filters.get('ecv') %}
				<input name="ecv" placeholder=" " class="filter narrow" value="{{ filters.get('ecv') }}"></input>
				{% else %}
				<input name="ecv" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %}
				<input name="ecv" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>EDS
				<br>
				{% if filters %}
				{% if filters.get('eds') %}
				<input name="eds" placeholder=" " class="filter narrow" value="{{ filters.get('eds') }}"></input>
				{% else %}
				<input name="eds" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %}
				<input name="eds" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>RMB
				<br>
				{% if filters %}
				{% if filters.get('rmb') %}
				<input name="rmb" placeholder=" " class="filter narrow" value="{{ filters.get('rmb') }}"></input>
				{% else %}
				<input name="rmb" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %}
				<input name="rmb" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>Comment
				<br>
				{% if filters %}
				{% if filters.get('comment') %}
				<input name="comment" placeholder=" " class="filter wide" value="{{ filters.get('comment') }}"></input>
				{% else %}
				<input name="comment" placeholder=" " class="filter wide" value=""></input>
				{% endif %}
				{% else %}
				<input name="comment" placeholder=" " class="filter wide" value=""></input>
				{% endif %}
			</th>
			<th>Actions
				<br>
				<input class="filter verynarrow" placeholder=" " disabled>
			</th>
		</tr>
	</thead>
    <tbody>
      {% for o in orders %}
      <tr>
        <td>{{ o.order_number }}</td>
        <td>{{ o.buyer_article_number }}</td>
        <td>{{ o.sap_article_description }}</td>
        <td>{{ o.fob.strftime('%d.%m.%Y') }}</td>
        <td>{{ o.transport }}</td>
        <td>{{ o.quantity }}</td>
        <td class="available_qty">{{ o.available_quantity }}</td>
		<td>{{ o.ecv }}</td>
        <td>{{ o.eds }}</td>
		{% if o.rmb is none %}
        <td></td>
    	{% else %}
		<td>{{ o.rmb }}</td>
		{% endif %}
		{% if o.comment is none %}
        <td></td>
    	{% else %}
		<td>{{ o.comment }}</td>
		{% endif %}
		<td class="actions">
			<div id="menu-container">
            	<div id="menu-icon">&#9776;</div>
            	<div id="menu">
					<a href="{{ url_for('orders.edit_order', order_id=o.id) }}">Edit</a><br>
					<a href="{{ url_for('orders.split_order', order_id=o.id) }}">Split</a><br>
					<form method="post" action="{{ url_for('orders.delete_order', order_id=o.id) }}" style="display:inline" onsubmit="return confirm('Delete this row?');"><button type="submit">Delete</button></form>
				</div>
			</div>
		</td>
	  </tr>
      {% else %}
      <tr class="empty">
		<td colspan=11">No orders yet.</td>
	  </tr>
      {% endfor %}
    </tbody>
</table>

<script>

colorRows(document.querySelectorAll("tbody tr"), 2);

document.querySelectorAll(".filter").forEach(el => {
  const type = el.type;

  if (type === "date") {
    el.addEventListener("change", filter);
  } else {
    el.addEventListener("keydown", function (e) {
      if (e.key === "Enter") {
        filter();
      }
    });
  }

});

function filter() {
  
  const params = new URLSearchParams();

  document.querySelectorAll(".filter").forEach(el => {
    if (el.value) {
      params.append(el.name, el.value);
    }
  });

  window.location.href = "/orders/filter?" + params.toString();

}

</script>
{% endblock %}