{% extends "base.html" %}

{% block title %}Planning{% endblock %}

{% block content %}
	<div>
	Quick filters:
	<select name="quick_plant_name" class="quickfilter">
		<option value="">All Plants</option>
		{% for plant in plant_names %}
		{% if filters %}
			{% if filters.get('plant_name') %}
			<option value="{{ plant }}" {% if plant in filters.get('plant_name') %} selected{% endif %}>{{ plant }}</option>
			{% else %}
			<option value="{{ plant }}">{{ plant }}</option>
			{% endif %}
		{% else %}
		<option value="{{ plant }}">{{ plant }}</option>
		{% endif %}
	{% endfor %}
	</select>
	<select name="quick_order_week_confirmed" class="quickfilter">
		<option value="">Conf. Week</option>
		{% for week in weeks %}
		{% if filters %}
			{% if filters.get('order_week_confirmed') %}
			<option value="{{ week }}" {% if week in filters.get('order_week_confirmed') %} selected{% endif %}>{{ week }}</option>
			{% else %}
			<option value="{{ week }}">{{ week }}</option>
			{% endif %}
		{% else %}
		<option value="{{ week }}">{{ week }}</option>
		{% endif %}
	{% endfor %}
	</select>
	</div>

	<button id="create-tl-button">
		<img src="{{ url_for('static', filename='img/icons8-packing-100.png') }}">
	</button>
	
	<br>
	<table id="planning">
    <thead>
		<tr class="filter-row">
			<th>Plant Name
				<br>
				{% if filters %}
				{% if filters.get('plant_name') %}
				<input name="plant_name" class="filter wide" value="{{ filters.get('plant_name') }}" disabled></input>
				{% else %}
				<input name="plant_name" class="filter wide" placeholder=" " value="" disabled></input>
				{% endif %}
				{% else %}
				<input name="plant_name" class="filter wide" placeholder=" " value="" disabled></input>
				{% endif %}
			</th>
			<th>ECV
				<br>
				<input name="ecv" class="filter verynarrow" placeholder=" " value="" disabled></input>
			</th>
			<th>EDS
				<br>
				<input name="eds" class="filter verynarrow" placeholder=" " value="" disabled></input>
			</th>
			<th>SO Number
				<br>
				{% if filters %}
				{% if filters.get('order_number') %}
				<input name="order_number" class="filter normal" value="{{ filters.get('order_number') }}"></input>
				{% else %}          
				<input name="order_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %} 
				<input name="order_number" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>SAP Article Description
				<br>
				{% if filters %}
				{% if filters.get('article_description') %}
				<input name="article_description" class="filter normal" value="{{ filters.get('article_description') }}"></input>
				{% else %}          
				<input name="article_description" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %} 
				<input name="article_description" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>Req. Qty
				<br>
				{% if filters %}
				{% if filters.get('original_qty') %}
				<input name="original_qty" class="filter narrow" value="{{ filters.get('original_qty') }}"></input>
				{% else %}          
				<input name="original_qty" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
				{% else %} 
				<input name="original_qty" placeholder=" " class="filter narrow" value=""></input>
				{% endif %}
			</th>
			<th>Req. Date
				<br>
				{% if filters %}
				{% if filters.get('delivery_date') %}
				<input type="date" name="delivery_date" class="filter normal" value="{{ filters.get('delivery_date') }}" required></input>
				{% else %}
				<input type="date" name="delivery_date" class="filter normal" value="" required></input>
				{% endif %}
				{% else %}
				<input type="date" name="delivery_date" class="filter normal" value="" required></input>
				{% endif %}
			</th>
			<th>Req. Week
				<br>
				{% if filters %}
				{% if filters.get('delivery_week') %}
				<input name="delivery_week" class="filter normal" value="{{ filters.get('delivery_week') }}"></input>
				{% else %}          
				<input name="delivery_week" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %}
				<input name="delivery_week" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>Conf. Date
				<br>
				{% if filters %}
				{% if filters.get('order_confirmed') %}
				<input type="date" name="order_confirmed" class="filter normal" value="{{ filters.get('order_confirmed') }}" required></input>
				{% else %}
				<input type="date" name="order_confirmed" class="filter normal" value="" required></input>
				{% endif %}
				{% else %}
				<input type="date" name="order_confirmed" class="filter normal" value="" required></input>
				{% endif %}
			</th>
			<th>Conf. Week
				<br>
				{% if filters %}
				{% if filters.get('order_week_confirmed') %}
				<input name="order_week_confirmed" class="filter normal" value="{{ filters.get('order_week_confirmed') }}"></input>
				{% else %}
				<input name="order_week_confirmed" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
				{% else %}
				<input name="order_week_confirmed" placeholder=" " class="filter normal" value=""></input>
				{% endif %}
			</th>
			<th>Stock
			</th>
			<th>Conf. Qty</th>
			<th>TL</th>
			<th>Sales Price</th>
			<th>ETA</th>
			<th>Comment</th>
			<th>RMB</th>
			<th>Frgt</th>
			<th>Sup</th>
			<th>PO No.</th>
			<th>ECV</th>
			<th>EDS</th>
			<th>FOB</th>
			<th></th>
		</tr>
	</thead>
    <tbody>
	{% for b in buyer_article_numbers_list %}
			<tr class="status" id="{{ b[0][0].buyer_article_number }}">
				<td colspan="10">{{ b[0][0].buyer_article_number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b[0][0].article_description }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('deliveries.query', buyer_article_number=b[0][0].buyer_article_number, next=request.full_path) }}">Deliveries</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('orders.query', buyer_article_number=b[0][0].buyer_article_number, next=request.full_path) }}">Orders</a></td>
				<td colspan="3"><a href="{{ url_for('materials.edit_material', buyer_article_number=b[0][0].buyer_article_number, next=request.full_path) }}">{{ b[2] }} pcs/box&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ b[3] }} kg/pc</a></td>
				<td colspan="11"></td>
			</tr>
      {% for d in b[0] %}
		{% for c in d.confirmations %}
			{% if loop.first %}
			<tr data-sent="{{ c.sent }}">
				<td>{{ d.plant_name }}</td>
				<td>{{ d.ecv }}</td>
				<td>{{ d.eds }}</td>
				{% if d.order_number == none and d.order_position == none%}
				<td></td>
				{% else %}
				<td>{{ d.order_number.lstrip('0') }}-{{ d.order_position }}</td>
				{% endif %}
				<td>{{ d.article_description }}</td>
				<td>{{ d.original_qty }}</td>
				<td class="requested">{{ d.delivery_date.strftime('%d.%m.%Y') if d.delivery_date else '' }}</td>
				<td>{{ d.delivery_date.strftime('CW%V/%g') if d.delivery_date else '' }}</td>
				{% if c.order_confirmed is none %}
				<td>?</td>
				<td>?</td>
				{% else %}
				<td class="confirmed">{{ c.order_confirmed.strftime('%d.%m.%Y') if c.order_confirmed else '' }}</td>
				<td class="confirmedwk">{{ c.order_confirmed.strftime('CW%V/%g') if c.order_confirmed else '' }}</td>
				{% endif %}
				{% if c.order_orig_qty is none %}
				<td>?</td>
				{% else %}
				<td>{{ c.order_orig_qty }}</td>
				{% endif %}
				{% if c.order_qty is none %}
				<td>?</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True %}
				<td>{{ c.order_qty }}</td>
				{% else %}
				<td>
					<a href="{{ url_for('assignments.assign', delivery_id=d.id, order_id=c.id, qty=c.order_qty, buyer_article_number=d.buyer_article_number) }}">
						<span class="tl-values" data-delivery-id="{{ d.id }}" data-order-id="{{ c.id }}" data-qty="{{ c.order_qty }}">{{ c.order_qty }}</span>
					</a>
				</td>
				{% endif %}
				{% if c.order_tl %}
				<td class="tl">
					<input type="checkbox" checked disabled>
				</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True %}
				<td></td>
				{% else %}
				<td>
					<input type="checkbox">
				</td>
				{% endif %}
				{% if c.order_sales_price is none %}
				<td></td>
				{% else %}
				<td class="sales-price">{{ '%.4f' % c.order_sales_price }}</td>
				{% endif %}
				{% if c.order_eta is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_eta.strftime('CW%V/%g') }}</td>
				{% endif %}
				{% if c.order_comment is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_comment }}</td>
				{% endif %}
				{% if c.order_rmb is none %}
				<td></td>
				{% else %}
				<td class="rmb">{{ c.order_rmb }}</td>
				{% endif %}
				{% if c.order_transport is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_transport }}</td>
				{% endif %}
				{% if c.order_supplier is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_supplier }}</td>
				{% endif %}
				{% if c.id is none %}
				<td></td>
				{% elif c.sent == True %}
				<td>{{ c.order_number }}</td>
				{% else %}
				<td><a href="{{ url_for('orders.edit_order', order_id=c.id, next=request.full_path) }}">{{ c.order_number }}</a></td>
				{% endif %}
				{% if c.order_ecv is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_ecv }}</td>
				{% endif %}
				{% if c.order_eds is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_eds }}</td>
				{% endif %}
				{% if c.order_fob is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_fob.strftime('%d.%m.%Y') }}</td>
				{% endif %}
				{% if c.id is none %}
				<td class="actions">
					<div id="menu-container">
						<div id="menu-icon">&#9776;</div>
						<div id="menu">
							<a href="{{ url_for('orders.create_order', buyer_article_number=d.buyer_article_number, next=request.full_path ) }}">Create new PO</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('deliveries.create_delivery', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">Create new delivery</a><br>
							<a href="{{ url_for('deliveries.edit_delivery', delivery_id=d.id, next=request.full_path) if d.id else ''}}">Edit delivery</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('orders.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View orders</a><br>
							<a href="{{ url_for('deliveries.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View deliveries</a><br>
							<a href="{{ url_for('materials.edit_material', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View material</a><br>
						</div>
					</div>
				</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True %}
				<td></td>
				{% else %}
				<td class="actions">
					<div id="menu-container">
						<div id="menu-icon">&#9776;</div>
						<div id="menu">
							<a href="{{ url_for('orders.create_order', buyer_article_number=d.buyer_article_number, next=request.full_path ) }}">Create new PO</a><br>
							<a href="{{ url_for('orders.edit_order', order_id=c.id, next=request.full_path) }}">Edit {{ c.order_number }}</a><br>
							<a href="{{ url_for('orders.split_order', order_id=c.id, next=request.full_path) }}">Split {{ c.order_number }}</a><br>
							<a href="{{ url_for('orders.delete_order', order_id=c.id, next=request.full_path) }}" onclick="return confirm('Delete this order?');">Delete {{ c.order_number }}</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('deliveries.create_delivery', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">Create new delivery</a><br>
							<a href="{{ url_for('deliveries.edit_delivery', delivery_id=d.id, next=request.full_path) if d.id else ''}}">Edit delivery</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('orders.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View orders</a><br>							
							<a href="{{ url_for('deliveries.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View deliveries</a><br>
							<a href="{{ url_for('materials.edit_material', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View material</a><br>
						</div>
					</div>
				</td>
				{% endif %}
			</tr>
			{% else %}
			<tr data-sent="{{ c.sent }}">
				<td>{{ d.plant_name }}</td>
				<td>{{ d.ecv }}</td>
				<td>{{ d.eds }}</td>
				{% if d.order_number == none and d.order_position == none%}
				<td></td>
				{% else %}
				<td>{{ d.order_number.lstrip('0') }}-{{ d.order_position }}</td>
				{% endif %}
				<td>{{ d.article_description }}</td>
				<td></td>
				<td class="requested">{{ d.delivery_date.strftime('%d.%m.%Y') if d.delivery_date else '' }}</td>
				<td>{{ d.delivery_date.strftime('CW%V/%g') if d.delivery_date else '' }}</td>
				{% if c.order_confirmed is none %}
				<td>?</td>
				<td>?</td>
				{% else %}
				<td class="confirmed">{{ c.order_confirmed.strftime('%d.%m.%Y') if c.order_confirmed else '' }}</td>
				<td class="confirmedwk">{{ c.order_confirmed.strftime('CW%V/%g') if c.order_confirmed else '' }}</td>
				{% endif %}
				{% if c.order_orig_qty is none %}
				<td>?</td>
				{% else %}
				<td>{{ c.order_orig_qty }}</td>
				{% endif %}
				{% if c.order_qty is none %}
				<td>?</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True  %}
				<td>{{ c.order_qty }}</td>
				{% else %}
				<td>
					<a href="{{ url_for('assignments.assign', delivery_id=d.id, order_id=c.id, qty=c.order_qty, buyer_article_number=d.buyer_article_number) }}">
						<span class="tl-values" data-delivery-id="{{ d.id }}" data-order-id="{{ c.id }}" data-qty="{{ c.order_qty }}">{{ c.order_qty }}</span>
					</a>
				</td>
				{% endif %}
				{% if c.order_tl %}
				<td class="tl">
					<input type="checkbox" checked disabled>
				</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True %}
				<td></td>
				{% else %}
				<td>
					<input type="checkbox">
				</td>
				{% endif %}
				{% if c.order_sales_price is none %}
				<td></td>
				{% else %}
				<td class="sales-price">{{ '%.4f' % c.order_sales_price }}</td>
				{% endif %}
				{% if c.order_eta is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_eta.strftime('CW%V/%g') }}</td>
				{% endif %}
				{% if c.order_comment is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_comment }}</td>
				{% endif %}
				{% if c.order_rmb is none %}
				<td></td>
				{% else %}
				<td class="rmb">{{ c.order_rmb }}</td>
				{% endif %}
				{% if c.order_transport is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_transport }}</td>
				{% endif %}
				{% if c.order_supplier is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_supplier }}</td>
				{% endif %}
				{% if c.id is none %}
				<td></td>
				{% elif c.sent == True %}
				<td>{{ c.order_number }}</td>
				{% else %}
				<td><a href="{{ url_for('orders.edit_order', order_id=c.id, next=request.full_path) }}">{{ c.order_number }}</a></td>
				{% endif %}
				{% if c.order_ecv is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_ecv }}</td>
				{% endif %}
				{% if c.order_eds is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_eds }}</td>
				{% endif %}
				{% if c.order_fob is none %}
				<td></td>
				{% else %}
				<td>{{ c.order_fob.strftime('%d.%m.%Y') }}</td>
				{% endif %}
				{% if c.id is none %}
				<td class="actions">
					<div id="menu-container">
						<div id="menu-icon">&#9776;</div>
						<div id="menu">
							<a href="{{ url_for('orders.create_order', buyer_article_number=d.buyer_article_number, next=request.full_path ) }}">Create new PO</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('deliveries.create_delivery', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">Create new delivery</a><br>
							<a href="{{ url_for('deliveries.edit_delivery', delivery_id=d.id, next=request.full_path) if d.id else '' }}">Edit delivery</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('orders.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View orders</a><br>
							<a href="{{ url_for('deliveries.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View deliveries</a><br>
							<a href="{{ url_for('materials.edit_material', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View material</a><br>
						</div>
					</div>
				</td>
				{% elif c.order_orig_qty == 'stock' or c.sent == True %}
				<td></td>
				{% else %}
				<td class="actions">
					<div id="menu-container">
						<div id="menu-icon">&#9776;</div>
						<div id="menu">
							<a href="{{ url_for('orders.create_order', buyer_article_number=d.buyer_article_number, next=request.full_path ) }}">Create new PO</a><br>
							<a href="{{ url_for('orders.edit_order', order_id=c.id, next=request.full_path) }}">Edit {{ c.order_number }}</a><br>
							<a href="{{ url_for('orders.split_order', order_id=c.id, next=request.full_path) }}">Split {{ c.order_number }}</a><br>
							<a href="{{ url_for('orders.delete_order', order_id=c.id, next=request.full_path) }}" onclick="return confirm('Delete this order?');">Delete {{ c.order_number }}</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('deliveries.create_delivery', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">Create new delivery</a><br>
							<a href="{{ url_for('deliveries.edit_delivery', delivery_id=d.id, next=request.full_path) if d.id else '' }}">Edit delivery</a><br>
							<span>-------</span><br>
							<a href="{{ url_for('orders.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View orders</a><br>
							<a href="{{ url_for('deliveries.filter', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View deliveries</a><br>
							<a href="{{ url_for('materials.edit_material', buyer_article_number=d.buyer_article_number, next=request.full_path) }}">View material</a><br>
						</div>
					</div>
				</td>
				{% endif %}
			</tr>
			{% endif %}
		{% endfor %}
      {% else %}
      <tr><td colspan="15">No orders yet.</td></tr>
      {% endfor %}
	{% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <br>

<script>
	
function parseDateDMY(dateStr) {
  const [day, month, year] = dateStr.split('.');
  return new Date(`20${year}`, month - 1, day);
}

document.querySelectorAll('#planning tbody tr').forEach(row => {
  const requestedCell = row.querySelector('.requested')
  const confirmedCell = row.querySelector('.confirmed')
  const confirmedWkCell = row.querySelector('.confirmedwk')

  if (!confirmedCell || !requestedCell || !confirmedWkCell) return;

  const requestedText = requestedCell.textContent.trim();
  const confirmedText = confirmedCell.textContent.trim();


  const requestedDate = parseDateDMY(requestedText);
  const confirmedDate = parseDateDMY(confirmedText);

  const requestedPlus7 = new Date(requestedDate);
  requestedPlus7.setDate(requestedPlus7.getDate() + 7);

  if (confirmedDate > requestedDate && confirmedDate <= requestedPlus7) {
    confirmedCell.style.color = 'orange';
	confirmedWkCell.style.color = 'orange';
    confirmedCell.style.fontWeight = 'bold';
    confirmedWkCell.style.fontWeight = 'bold';
  } else if (confirmedDate > requestedPlus7) {
    confirmedCell.style.color = 'red';
	confirmedWkCell.style.color = 'red';
    confirmedCell.style.fontWeight = 'bold';
    confirmedWkCell.style.fontWeight = 'bold';
  }
});

colorRows(document.querySelectorAll("tbody tr:not(.status)"), 5);

document.querySelectorAll(".quickfilter").forEach(el => {
    el.addEventListener("change", function () {
        const name = this.name.replace("quick_", "");
        const input = document.querySelector(`input[name="${name}"]`);

        if (input) {
            input.value = this.value;
        }

        filter();
    });
});

document.querySelectorAll(".filter").forEach(el => {
  const type = el.type;

  if (type === "date") {
    el.addEventListener("change", filter);
  } else {
    el.addEventListener("keydown", function (e) {
      if (e.key === "Enter") {
        filter();
      }
    });
  }

});

function filter() {
  
  const params = new URLSearchParams();

  document.querySelectorAll(".filter").forEach(el => {
    if (el.value) {
      params.append(el.name, el.value);
    }
  });

  window.location.href = "/planning/filter?" + params.toString();

}
	
function create_tl() {

	const checkboxes_checked = document.querySelectorAll('input[type="checkbox"]:checked:not(:disabled)');
	const payload = [];

	checkboxes_checked.forEach(cb => {
		cb.addEventListener("click", function () {
			console.log("Clicked:", this.checked);
		});
		const row = cb.closest('tr');
		const tl = row.querySelector('span.tl-values');

		payload.push({
			delivery_id: parseInt(tl.dataset.deliveryId),
			order_id: parseInt(tl.dataset.orderId),
			qty: parseInt(tl.dataset.qty)
		});
	});

	fetch('/transport_lists/create', {
		method: 'POST',
		headers: {'Content-Type': 'application/json'},
		body: JSON.stringify(payload)
	})
	.then(async response => {
		const data = await response.json();
		if (!response.ok) {
			throw new Error(data.error || "Unknown error");
		}
		if (data.message === "ok") {
			window.location.href = "/transport_lists";
		} else {
			alert(data.message);
		}
	})
	.catch(error => {
		alert(error.message);
	});

}

const create_tl_button = document.getElementById("create-tl-button");
const checkboxes_unchecked = document.querySelectorAll('input[type="checkbox"]:not(:disabled)');
checkboxes_unchecked.forEach(cb => {
	cb.addEventListener("click", function () {
		create_tl_button.style.display = 'block';
	});
});

create_tl_button.onclick = create_tl;

</script>
{% endblock %}