{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<button id="sent-button">
  <img src="{{ url_for('static', filename='img/icons8-truck-100.png') }}"/>
</button>

<br>
<table>
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>TL Name</th>
		<th>SO Number</th>
        <th>SAP Article Description</th>
        <th>Req. Qty</th>
        <th>Req. Date</th>
        <th>Req. Week</th>
        <th>Conf. Qty</th>
        <th>PO No.</th>
        <th>Sales Price</th>
        <th>Sent</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for a in assignments %}
      <tr>
        <td>{{ a.plant_name }}</td>
        <td>{{ a.tl_name if a.tl_name else '' }}</td>
	    <td>{{ a.delivery_schedule_number.lstrip('0') }}-{{ a.delivery_schedule_position }}</td>
        <td>{{ a.short_text }}</td>
        <td>{{ a.delivery_quantity }}</td>
				<td>{{ a.delivery_date.strftime('%d.%m.%Y') }}</td>
				<td>{{ a.delivery_date.strftime('CW%V/%g') }}</td>
        <td>
          <span class="tl-values available_qty" data-delivery-id="{{ a.delivery_id }}" data-order-id="{{ a.order_id }}" data-qty="{{ a.order_qty }}">{{ a.order_qty }}</span>
        </td>
        <td>{{ a.order_number }}</td>
		{% if a.sales_price is none %}
		<td></td>
		{% else %}
        <td>{{ '%.4f' % a.sales_price }}</td>
		{% endif %}
		<td>
			<input type="checkbox">
		</td>
        <td class="actions">
          <div id="menu-container">
            <div id="menu-icon">&#9776;</div>
            <div id="menu">
              <a href="{{ url_for('tls.change_qty', delivery_id=a.delivery_id, order_id=a.order_id, qty=a.order_qty, buyer_article_number=a.buyer_article_number) }}">Edit</a><br>
              <form method="post" action="{{ url_for('tls.delete_tl', delivery_id=a.delivery_id, order_id=a.order_id) }}" style="display:inline" onsubmit="return confirm('Delete this row?');"><button type="submit">Delete</button></form>
            </div>
          </div>
        </td>
	  </tr>
      {% else %}
      <tr><td colspan=12>No assignments yet.</td></tr>
      {% endfor %}
    </tbody>
</table>

<script>
function sent_tl() {

	const checkboxes_checked = document.querySelectorAll('input[type="checkbox"]:checked:not(:disabled)');
	const payload = [];

	checkboxes_checked.forEach(cb => {
		cb.addEventListener("click", function () {
			console.log("Clicked:", this.checked);
		});
		const row = cb.closest('tr');
		const tl = row.querySelector('span.tl-values');

		payload.push({
			delivery_id: parseInt(tl.dataset.deliveryId),
			order_id: parseInt(tl.dataset.orderId),
			qty: parseInt(tl.dataset.qty)
		});
	});
	fetch('/transport_lists/tl_sent', {
		method: 'POST',
		headers: {'Content-Type': 'application/json'},
		body: JSON.stringify(payload)
	})
	.then(async response => {
		const data = await response.json();
		if (!response.ok) {
			throw new Error(data.error || "Unknown error");
		}
		if (data.message === "ok") {
			window.location.href = "/sent";
		} else {
			alert(data.message);
		}
	})
	.catch(error => {
		alert(error.message);
	});

}

const sent_button = document.getElementById("sent-button");
const checkboxes_unchecked = document.querySelectorAll('input[type="checkbox"]');
checkboxes_unchecked.forEach(cb => {
	cb.addEventListener("click", function () {
		sent_button.style.display = 'block';
  
	});
});

sent_button.onclick = sent_tl;


</script>
{% endblock %}