{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="flex-left">
</div>
<br>
<table>
    <thead>
      <tr>
        <th>Plant Name</th>
        <th>SO Number</th>
        <th>SAP Article Description</th>
        <th>Req. Qty</th>
        <th>Req. Date</th>
        <th>Req. Week</th>
        <th>Conf. Qty</th>
        <th>PO No.</th>
      </tr>
    </thead>
    <tbody>
      {% for a in sent %}
      <tr>
        <td>{{ a.delivery_plant_name }}</td>
        <td>{{ a.delivery_schedule_number.lstrip('0') }}-{{ a.delivery_schedule_position }}</td>
        <td>{{ a.short_text }}</td>
        <td>{{ a.delivery_quantity }}</td>
				<td>{{ a.delivery_date.strftime('%d.%m.%Y') }}</td>
				<td>{{ a.delivery_date.strftime('CW%V/%g') }}</td>
        <td class="available_qty">{{ a.order_qty }}</td>
        <td>{{ a.order_number }}</td>
	  </tr>
      {% else %}
      <tr><td colspan=8">No assignments yet.</td></tr>
      {% endfor %}
    </tbody>
</table>

<script>

colorRows(document.querySelectorAll("tbody tr:not(.status)"), 3);

</script>
{% endblock %}